@font-face {
  font-family: "HankenGrotesk";
  src: url(../fonts/static/HankenGrotesk-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HankenGrotesk";
  src: url(../fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HankenGrotesk";
  src: url(../fonts/static/HankenGrotesk-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}

:root {
  /* Primary */

  --color-red: #ff5757;
  --color-yellow: #ffb01f;
  --color-green: #00bd91;
  --color-blue: #1125d4;

  /* Gradients */

  /* Background */
  --color-slate-blue: #7857ff;
  --color-royal-blue: #2e2be9;

  /* Circle */
  --color-violet-blue: #4e21ca;
  --color-persian-blue: #2421ca00;

  /* Neutral */

  --color-white: #ffffff;
  --color-pale-blue: #ebf1ff;
  --color-light-lavender: #c8c7ff;
  --color-dark-gray-blue: #303b5a;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  padding: 0;

  list-style: none;
}

body {
  margin: 0;

  color: var(--color-white);
  font-family: "HankenGrotesk";
  font-weight: 500;
  font-style: normal;
}

.result {
  width: 375px;
  height: 809px;
  margin: 0 auto;

  background-color: var(--color-white);

  display: flex;
  flex-direction: column;

  position: relative;

  animation-name: expansionRow;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.scoreboard {
  width: 100%;
  border-radius: 0 0 30px 30px;
  padding: 25px 60px 40px;

  background: linear-gradient(
    to bottom,
    var(--color-slate-blue),
    var(--color-royal-blue)
  );

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  z-index: 100;
}
.scoreboard__title {
  margin-bottom: 25px;

  color: var(--color-light-lavender);
  font-size: 18px;
  font-weight: 500;
}
.score__wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 30px;

  background: linear-gradient(
    to bottom,
    var(--color-violet-blue),
    var(--color-persian-blue)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score__main {
  font-size: 54px;
  font-weight: 800;
}
.score__submain {
  color: var(--color-light-lavender);
}
.scoreboard__value {
  margin-bottom: 10px;
  font-size: 24px;
}
.scoreboard__description {
  color: var(--color-light-lavender);
  text-align: center;
}
.summary {
  width: 100%;
  padding: 30px;

  position: absolute;
  bottom: 0;
}
.summary__title {
  margin-bottom: 20px;

  color: var(--color-dark-gray-blue);
  font-size: 16px;
}
.summary__list {
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary__item {
  height: 54px;
  border-radius: 10px;
  padding: 20px;

  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction {
  background-color: rgba(255, 87, 87, 0.1);

  & .summary__category {
    color: var(--color-red);
  }
}
.memory {
  background-color: rgba(255, 176, 31, 0.1);

  & .summary__category {
    color: var(--color-yellow);
  }
}
.verbal {
  background-color: rgba(0, 189, 145, 0.1);

  & .summary__category {
    color: var(--color-green);
  }
}
.visual {
  background-color: rgba(17, 37, 212, 0.1);

  & .summary__category {
    color: var(--color-blue);
  }
}

.summary__category-wrapper {
  display: flex;
  gap: 10px;
}
.summary__category {
}
.summary__score-wrapper {
  color: var(--color-light-lavender);
}
.summary__score {
  color: var(--color-dark-gray-blue);
  font-weight: 700;
}

.summary__btn {
  width: 100%;
  height: 56px;
  border-radius: 25px;
  border: none;

  background: var(--color-dark-gray-blue);

  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  transition: background-color 250ms ease-in-out;

  &:hover {
    background-color: var(--color-royal-blue);
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: var(--color-pale-blue);
  }

  .main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result {
    width: 736px;
    height: 512px;
    border-radius: 30px;

    flex-direction: row;

    animation-name: expansionCol;
    animation-timing-function: cubic-bezier(1, 0, 0.6, 0);
  }
  .scoreboard {
    width: 368px;
    height: 512px;
    border-radius: 30px;
    padding: 40px 60px 54px;
  }
  .scoreboard__title {
    margin-bottom: 36px;
  }
  .score__wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 36px;
  }
  .score__main {
    font-size: 68px;
  }
  .score__submain {
    font-size: 18px;
  }
  .scoreboard__value {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .summary {
    width: 368px;
    height: 512px;
    padding: 40px;

    right: 0;
  }
  .summary__title {
    margin-bottom: 30px;

    font-size: 18px;
  }
  .summary__list {
    margin-bottom: 40px;
  }
}

@keyframes expansionRow {
  0% {
    height: 367px;
  }
  100% {
    height: 809px;
  }
}
@keyframes expansionCol {
  0% {
    width: 368px;
  }
  100% {
    width: 736px;
  }
}
